language: python
python:
  - "pypy3"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"  # 3.8 development branch
  - "nightly"  # nightly build

install:
  - pip install .
  - pip install pytest

script:
  - pytest